*{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    font: 1em sans-serif;
}
.df-col{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.df-row{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.brd{
    border: 1px solid black;
}
.wrapper{
    width: 100wh;
    height: 100vh;
}
.calculator{
    width: 17em;
    height: 22em;
    background-color: rgba(26, 8, 41, 0.559);
    font-weight: bolder;
    border-width: 5px;
    border-top-color: rgb(102, 102, 102);
    border-left-color: rgb(39, 39, 39);
    border-radius: 7px;
    box-shadow: 3px 3px 1px 4px rgb(53, 53, 53);
}
.calculator__screen{
    width: 86%;
    height: 15%;
    background-color: rgb(24, 55, 13);
    color: chartreuse;
    border-top-color: rgb(33, 73, 18);
    border-left-color: rgb(18, 39, 10);
    border-width: 3px;
    border-radius: 3px;
    font-size: 1.5em;
    font-weight: bold;
}
.calculator__block-btn{
    padding: 0.2em;
    display: grid;
    grid-template: repeat(4, 1fr)/repeat(4, 1fr);
    gap: 0.5em;
    background-color: rgba(15, 5, 24, 0.559);
    border-radius: 4px;
}
.block-btn__btn{
    padding: 14px;
    text-align: center;
    font-size: 1.1em;
    font-weight: bold;
    background-color: darkgray;
    cursor: pointer;
    border-top-color: rgb(82, 82, 82);
    border-left-color: rgb(82, 82, 82);
    border-width: 3px;
    border-radius: 6px;
}
.block-btn__btn:active{
    font-size: 1em;
    background-color: rgb(90, 90, 90);
    border-bottom-color: rgb(121, 121, 121);
    border-right-color: rgb(121, 121, 121);
    border-top-color: rgb(29, 29, 29);
    border-left-color: rgb(29, 29, 29);

}
.block-btn__btn--reset:active{
   border-left-width: 3.8px;
   border-right-width: 4.5px;
    
}
.modal{
    background-color: rgb(95, 93, 93);
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
}
.form{
    width: 25%;
    height: 30%;
    padding: 1%;
    border-radius: 5px;
    background-color: gainsboro;
}
.form__inp{
    width: 75%;
    padding: 10px;
    text-align: center;
    border-radius: 3px;
}
.form__btn{
    width: 45%;
    padding: 5px;
}
.form__lable{
    border-radius: 50%;
}

